body{
    background-color: rgb(0, 0, 0);
    height: 200vh;
    display: flex;
    flex-direction: column;
}
footer{
    color: aliceblue;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;  
}
.content{
    flex :1;
    background-color: brown;
}
.row {
    display: flex;
  }
  .column {
    flex: 50%;
  }
