footer{
    position: absolute;
    text-align: center;
    bottom: 0;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #a1782a;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #452828;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #caca27;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #209167;
    color: rgb(208, 74, 74);
  }