footer{
    position: absolute;
    text-align: center;
    bottom: 0;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #b48e49;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #853939;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #9c9c4a;
    color: rgb(64, 175, 8);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #6df100;
    color: rgb(208, 74, 74);
  }